/* https://coolors.co/e7717d-c2cad0-c2b9b0-7e685a-afd275 */

.wholePage {
  background-color: var(--prime-dark);
  min-height: 100%;
}

.topfullbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.topbar {
  position: absolute;
  width: 100%;
  height: 4.5rem;
  background-color: var(--secondary-dark);
  border-bottom-left-radius: 30px;
}

.topbarcircle {
  justify-content: flex-end;
  width: 10rem;
  height: 10rem;
  background-color: var(--secondary-dark);
  border-radius: 50%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.topinnercircle {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-color: var(--main-dark);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.innerinnercircle {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
}

.innerinnercircle img {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
}

.topfullbar h1 {
  color: var(--main-dark);
  padding: 1.3rem;
}

.dlswitch {
  top: 6rem;
  left: 1rem;
  background-color: var(--secondary-dark);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: fixed;
}

.dlswitch ion-icon {
  font-size: 1rem;
  padding-top: 1rem;
  cursor: pointer;
  color: var(--main-dark);
}

.nav {
  position: fixed;
  top: 10rem;
  background-color: var(--secondary-dark);
  left: 1rem;
  width: 3rem;
  height: 17rem;
  border-radius: 30px;
  display: grid;
  justify-content: center;
}

.nav ion-icon {
  padding-top: 1rem;
  cursor: pointer;
  color: var(--main-dark);
}

.nav ul {
  display: grid;
  position: absolute;
  width: 100%;
  top: 3rem;
  list-style: none;
  justify-content: center;
  line-height: 3rem;
}

.list {
  display: flex;
}

.list a {
  position: relative;
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--main-dark);
  left: 1.3rem;
  text-decoration: none;
  border-radius: 50%;
  justify-content: center;
}

/* .list a:hover{
  transform: translateX(0.5rem);
  background-color: var(--prime-dark);
  color: var(--main2-dark);
} */

.icon {
  justify-self: center;
}

.title {
  font-size: 1rem;
  color: var(--main-dark);
  opacity: 0%;
  transform: translateX(2rem);
}

.list:hover .title,
.active .title {
  opacity: 100%;
}

.hero {
  padding-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.animation {
  height: 25rem;
  width: 25rem;
  padding-top: 3rem;
}

.greeting {
  display: flex;
  color: var(--text);
  padding-left: 5rem;
}

.accent {
  padding-left: 1rem;
  color: var(--main-dark);
}

.info {
  display: grid;
  justify-content: center;
  width: 35rem;
  color: var(--text);
}

.info p {
  padding-top: 1rem;
  text-align: center;
}

.skil {
  margin-top: 5rem;
  display: grid;
  place-items: center;
}

.skil h1 {
  color: var(--text);
}

.cards {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.card {
  display: grid;
  height: 15rem;
  width: 10rem;
  border-radius: 20px;
  border: 2px solid var(--main-dark);
  color: var(--text);
  place-items: center;
  line-height: 1rem;
  margin: 1rem;
}

.card ion-icon {
  height: 5rem;
  width: 5rem;
  color: var(--text);
}

.card div {
  border-radius: 5px;
  padding: 5px;
  border: 2px solid var(--main-dark);
}

.card div:hover {
  background-color: var(--main-dark);
  cursor: pointer;
}

.car{
  height: 50rem;
  width: 50rem;
  margin-left: 17rem;
  margin-top: 10rem;
}

footer {
  background-color: var(--secondary-dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  height: 10rem;
  padding-top: 2rem;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.icons > * {
  font-size: xx-large;
  margin: 10px;
  color: var(--text);
}
